body {
    background-color: #F7F7F7;
    font-family: 'Raleway', sans-serif;
}

header {
    padding: 1em;
    border-bottom: 0.1em solid black;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.caixa img {
    max-width: 5%;
}

nav {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

nav li {
    display: inline;
    margin-left: 1.5em;
}

nav a {
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    transition: 500ms;
}

nav a:hover {
    color: #FFB72B;
}

.introducao {
    width: 940px;
    margin: 3em auto 0;
}

.bloco-texto-tabela {
    width: 50%;
    text-align: center;
    float: left;
}

.bloco-texto-tabela h2 {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 0.1em;
}

.bloco-texto-tabela h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.3em;
}

.bloco-texto-tabela p {
    line-height: 1.2em;
}

.imagem-tabela {
    width: 40%;
    float: right;
}

.imagem-tabela img {
    max-width: 100%;
}

.pilares {
    clear: both;
    width: 940px;
    margin: 0 auto;
}

.pilares li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 5em 1.5%;
	padding: 30px 10px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
	box-shadow: 10px 10px 20px 0px #303030;
    transition: 200ms;
    color: #000000;
}

.pilares li:hover {
    border-color: #FFB72B;
    transform: scale(1.1);
}

.pilares li h2 {
    font-size: 1.5em;
    margin: 0 0 0.5em;
    font-weight: bold;
}

.pilares img {
    max-width: 80%;
    border: 1px solid #000000;
    border-radius: 5px;
}

footer {
    width: 100%;
    position: static;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}

.social-links {
    margin-top: 2em;
}

.fa-brands {
    color: #000000;
}

.fa-solid {
    color: #000000
}

footer img {
    width: 2em;
    position: relative;
    top: 0.6em;
}

.copyright {
    margin: 2em 0;
    color: #00000052;
    font-size: 0.8em;
}